@using PointOfSale.Models;
@{
    Layout="_Layout";
}
<h1>Employees Index Works</h1>
<div class="twoCol">
    <div class="leftCol">
        <a href="/orders">
        <div class="table">
            Orders Home
        </div>
        </a>
    </div>
    <div class="rightCol">
        <button>Home</button>
        <button>See Sales</button>

    </div>
</div>
    
</div>